{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'dist/css/adminlte.css' %}">
    </head>
    <body class="login-page">
        <div class="login-box">
            <!-- <div style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white; border-radius: 10px; padding: 10px;"> -->
                <form class="form-group" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-success btn-flat" style="margin-left: auto; margin-right: auto;" type="submit">Login</button>
                </form>
            <!-- </div> -->
        </div>
        
    </body>
    
</html>
